<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Login</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>

<body>
	<div class="container">
		<h1>Login</h1>
		<form action="/login" method="POST">
			<div class="mb-3">
			  <label for="txtUsername" class="form-label">Username</label>
			  <input type="username" class="form-control" name="txtUsername"  id="txtUsername" aria-describedby="emailHelp" placeholder="Username">
			  <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
			</div>
			<div class="mb-3">
			  <label for="exampleInputPassword1" class="form-label">Password</label>
			  <input type="password" name="txtPassword" class="form-control" id="exampleInputPassword1" placeholder="password">
			</div>
			<button type="submit" class="btn btn-primary">Submit</button>
		  </form>
	</div>

</body>
</html>